version: '2'

services:
  sql:
    environment:
      POSTGRES_PASSWORD: "password"

  http:
    ports:
      - 8000:80
    volumes:
      - ./.docker/nginx@1.15/config/vhost-prod.conf:/etc/nginx/conf.d/100-default.conf
