version: '2'

services:
  mail:
    image: namshi/smtp:latest
    environments:
      RELAY_NETWORKS: ":192.168.0.0/24"
      PORT: 1025

  sql:
    environment:
      POSTGRES_PASSWORD: "password"

  http:
    ports:
      - 8000:80
    volumes:
      - ./.docker/nginx@1.15/config/vhost-prod.conf:/etc/nginx/conf.d/100-default.conf

  ws:
    command: ["bin/console", "clank:server", "--env=prod"]

  mq:
    command: ["bin/console", "oro:message-queue:consume", "--env=prod", "-vv"]
