.form-description__logo-img {
    max-height: 150px;
}

.login-page {
    background: url(../images/background.jpg) center center fixed;
    background-size: cover;
}
.desktop-version .app-logo {
    background: url(../images/app_logo.png) no-repeat center center;
    background-size: cover;
}
